Repository MonoGame/MonoGame, pull requests merged in 2022-04, with the labels that each got.

#7699 Visual Studio 2022 Extension for templates
  .config/dotnet-tools.json
  .github/workflows/main.yml
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.Android.CSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.Android.CSharp/.template.config/template.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.DesktopGL.CSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.DesktopGL.CSharp/.template.config/template.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.UWP.CoreApp.CSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.UWP.CoreApp.CSharp/.template.config/template.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.UWP.XAML.CSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.UWP.XAML.CSharp/.template.config/template.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.WindowsDX.CSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.WindowsDX.CSharp/.template.config/template.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.iOS.CSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Application.iOS.CSharp/.template.config/template.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Library.CSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Library.CSharp/.template.config/template.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Library.Pipeline.Extension.CSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Library.Pipeline.Extension.CSharp/.template.config/template.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Library.Shared.CSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.CSharp/content/MonoGame.Library.Shared.CSharp/.template.config/template.json
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Application.DesktopGL.FSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Application.DesktopGL.FSharp/.template.config/template.json
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Application.DesktopGL.FSharp/Content/Content.mgcb
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Application.DesktopGL.FSharp/Game1.fs
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Application.DesktopGL.FSharp/Icon.bmp
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Application.DesktopGL.FSharp/Icon.ico
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Application.DesktopGL.FSharp/MGNamespace.fsproj
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Application.DesktopGL.FSharp/Program.fs
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Application.DesktopGL.FSharp/app.manifest
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Library.NetStandard.FSharp/.template.config/dotnetcli.host.json
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Library.NetStandard.FSharp/.template.config/template.json
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Library.NetStandard.FSharp/Game1.fs
  Templates/MonoGame.Templates.FSharp/content/MonoGame.Library.NetStandard.FSharp/MGNamespace.fsproj
  Templates/MonoGame.Templates.VSExtension/MonoGame.Templates.VSExtension.csproj
  Templates/MonoGame.Templates.VSExtension/MonoGameTemplatesVSExtensionPackage.cs
  Templates/MonoGame.Templates.VSExtension/Properties/AssemblyInfo.cs
  Templates/MonoGame.Templates.VSExtension/Templates.pkgdef
  Templates/MonoGame.Templates.VSExtension/source.extension.vsixmanifest
  Templates/VisualStudio/csharp-manifest.json
  Templates/VisualStudio/fsharp-manifest.json
  Templates/VisualStudio/icons/android.png
  Templates/VisualStudio/icons/desktopgl.png
  Templates/VisualStudio/icons/ios.png
  Templates/VisualStudio/icons/preview.png
  Templates/VisualStudio/icons/uwp.png
  Templates/VisualStudio/icons/windowsdx.png
  Templates/VisualStudio/notes.txt
  Templates/VisualStudio/readme-cs.md
  Templates/VisualStudio/readme-fs.md
  Templates/VisualStudio/settings.rsp
  build.cake
Labels: Installer

#7464 Optimized SpriteFont GlyphPacker
  MonoGame.Framework.Content.Pipeline/Graphics/Font/Glyph.cs
  MonoGame.Framework.Content.Pipeline/Graphics/Font/GlyphCropper.cs
  MonoGame.Framework.Content.Pipeline/Graphics/Font/GlyphPacker.cs
  MonoGame.Framework.Content.Pipeline/Graphics/Font/GrowRule.cs
  MonoGame.Framework.Content.Pipeline/Graphics/Font/MaxRectsBin.cs
  MonoGame.Framework.Content.Pipeline/Graphics/Font/MaxRectsHeuristic.cs
  MonoGame.Framework.Content.Pipeline/Graphics/Font/SharpFontImporter.cs
  MonoGame.Framework.Content.Pipeline/Graphics/FontDescription.cs
  MonoGame.Framework.Content.Pipeline/Processors/FontDescriptionProcessor.cs
  MonoGame.Framework.Content.Pipeline/Processors/FontTextureProcessor.cs
Labels: Needs Testing, Font

#7561 Multisampling on Android
  MonoGame.Framework/Platform/Android/MonoGameAndroidGameView.cs
Labels: Android, Needs Testing
